:root {
    ---primary-color: rgb(24, 40, 65);
    ---secondary-color: #235F85;
    ---tertiary-color: #587C9F;
    ---tertiary-color-transparent: rgba(88, 124, 159, 0.60);
    ---quaternary-color: #FBF2ED;
    ---fifth-color: #9F1B17;
    ---primary-color-transparent: rgba(24, 40, 65, 0.1);
    ---white: white;
    ---black: black;

    ---header-height: 100px;
    ---footer-height: 80px;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

@font-face {
    font-family: Satisfy;
    src: url(../Satisfy/Satisfy-Regular.ttf);
}

body {
    width: 100%;
    min-height: 100vh;

}

main {
    padding-bottom: 10%;
    margin-top: var(---header-height);
    margin-bottom: var(---footer-height);
}



:root {
    --bg-color-light: #fafafa;
    --bg-color-dark: #232323;
    --bg-color: var(--bg-color-light);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --bg-color: var(--bg-color-dark);
    }
}

:root[data-theme="dark"] {
    --bg-color: var(--bg-color-dark);
}