header {
    width: 100%;
    height: var(---header-height);
    border-bottom: 2px solid black;
    background-color: var(---white);
    /* background-image: url("//i.pinimg.com/564x/97/a7/41/97a7410db14ae58dc72d2d73056e75d3.jpg"); */
    background-image: url("//upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Grey%27s_Anatomy_Logo.svg/2560px-Grey%27s_Anatomy_Logo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 0px;
    z-index: 1;

}

header h1 {
    padding: 10px;
    text-align: center;
    font-family: Satisfy;
}

header::before {
    content: "";
    /* background-color: var(---primary-color);
     */

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}